<div class="card">
  <div class="box">
    <div class="image-box"></div>
    <div class="text">{{ item.name }}</div>
  </div>
  <div class="title-box">
    <p class="title">{{ item.name }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">customer</p>
  </div>
</div>

<div class="card">
  <div class="image-box-staff1">
  </div>
  <div class="title-box">
    <p class="title">Tên:{{ item.staff_1 }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">Tiền:{{ item.price_1 }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box-staff2">
  </div>
  <div class="title-box">
    <p class="title">Tên:{{ item.staff_2 }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">Tiền:{{ item.price_2 }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box-staff3">
  </div>
  <div class="title-box">
    <p class="title">Tên:{{ item.staff_3 }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">Tiền:{{ item.price_3 }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box-staff4">
  </div>
  <div class="title-box">
    <p class="title">Tên:{{ item.staff_4 }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">Tiền:{{ item.price_4 }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box">
  </div>
  <div class="title-box">
    <p class="title">Tên:{{ item.staff_5 }}</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">Tiền:{{ item.price_5 }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box">
  </div>
  <div class="title-box">
    <p class="title">Memo</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">{{ item.memo|linebreaksbr }}</p>
  </div>
</div>

<div class="card">
  <div class="image-box">
  </div>
  <div class="title-box">
    <p class="title">Dan ky</p>
  </div>
  <div class="line"></div>
  <div class="desc-box">
		<p class="desc">{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
  </div>
</div>
