{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.certifications.errors }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Input data</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-secondary" href="{% url 'index' %}">Trở lại</a>
                <a class="btn btn-success save" href="#">Đăng ký</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" id="myform">
              {% csrf_token %}
                <div class="form-row">
                    <div class="card">
                      <div class="image-box">
                      </div>
                      <div class="title-box">
                        <p class="title">Customer name:{{ form.name | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc"></p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="image-box-staff1">
                      </div>
                      <div class="title-box">
                        <p class="title">Staff name:{{ form.staff_1 | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc">{{ form.price_1 | as_crispy_field }}</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="image-box-staff2">
                      </div>
                      <div class="title-box">
                        <p class="title">Staff name:{{ form.staff_2 | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc">{{ form.price_2 | as_crispy_field }}</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="image-box-staff3">
                      </div>
                      <div class="title-box">
                        <p class="title">Staff name:{{ form.staff_3 | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc">{{ form.price_3 | as_crispy_field }}</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="image-box-staff4">
                      </div>
                      <div class="title-box">
                        <p class="title">Staff name:{{ form.staff_4 | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc">{{ form.price_4 | as_crispy_field }}</p>
                      </div>
                    </div>

                    <div class="card">
                      <div class="image-box">
                      </div>
                      <div class="title-box">
                        <p class="title">Staff name:{{ form.staff_5 | as_crispy_field }}</p>
                      </div>
                      <div class="line"></div>
                      <div class="desc-box">
                        <p class="desc">{{ form.price_5 | as_crispy_field }}</p>
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-0">
                        {{ form.memo | as_crispy_field }}
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a class="btn btn-secondary" href="{% url 'index' %}">Trở lại</a>
                <a class="btn btn-success save" href="#">Đăng ký</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
